/*
 * styles.css
 * Copyright (C) 2021 Vintage Salt
 *
 * Distributed under terms of the MIT license.
 */

a.startbutton {
	background: var(--greenlink);
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	color: var(--background);
	display: block;
	font-size: 140%;
	padding: 1em;
}
a.startbutton:hover {
	background: var(--greenlink-hover);
}
a.startbutton i {
	float: right;
	vertical-align: middle;
}
a.startbutton p {
	display: inline-block;
	font-weight: bold;
	margin: 0;
	vertical-align: middle;
}
code.bigcode {
	background: var(--background);
	border-radius: 8px;
	display: block;
	font-size: 400%;
	text-align: center;
	margin: auto;
	padding: 0.5em;
}
div.currentcontainer {
	border: 4px solid var(--line);
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	margin: 1em 0;
	padding: 1em;
}
div.packcontainer {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;
}
div.modpack {
	background: var(--background-bright);
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	display: block;
	margin: auto 0 0 0;
	padding: 1em;
}
div.modpack h2 {
	display: inline;
	vertical-align: middle;
}
div.modpack a.downloadbutton {
	background: var(--link);
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	color: var(--background);
	display: block;
	font-size: 120%;
	font-weight: bold;
	margin: 0 auto;
	max-width: 24em;
	padding: 1em;
	text-align: center;
}
div.modpack a.downloadbutton:hover {
	background: var(--link-hover);
}
img.packicon {
	border-radius: 50%;
	float: right;
	height: 48px;
	width: 48px;
	vertical-align: middle;
}
@media only screen and (max-width: 600px) {
	div.packcontainer {
		grid-template-columns: 1fr;
	}
}
