<h2>Magic Pack Redux</h2>
<p>1.12.2, Forge 2673</p>
<p>It's like the 1.7.10 Magic Pack, but with more updated mods and dramatically less Thaumcraft. As a bonus, you get Embers, Psi, and a ton of other side mods to explore.</p>
