<h2>Carson's Beginner Pack</h2>
<p>1.12.2, Forge 2823</p>
<p>A pack made for beginners to modded Minecraft as a whole. It's not handholdy, but it's light and features a good array of easy-to-pick-up mods.</p>
