/*
 * styles.css
 * Copyright (C) 2020 Vintage Salt
 *
 * Distributed under terms of the MIT license.
 */

/* GLOBALS */
.content {
	text-align: center;
}
.content h1 {
	font-size: 1000%;
	margin: 0;
	overflow: hidden;
}

