<h2>The Magic Pack</h2>
<p>1.7.10, Forge 1614</p>
<p>A very, <i>very</i> well-worn modpack with a ton of magic content. Includes Thaumcraft, Blood Magic, Botania, Witchery, Ars, and a couple others.</p>
