/*
 * buttons.css
 * Copyright (C) 2020 Vintage Salt
 *
 * Distributed under terms of the MIT license.
 */

/* BIG ICON BUTTONS
 * Used on the index for services */
div.iconbuttoncontainer {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
}
a.iconbutton {
	background: var(--background-bright);
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	display: block;
	padding: 1em;
	text-align: center;
}
a.iconbutton:hover {
	background: var(--link-hover);
	color: var(--background);
}
a.iconbutton i {
	font-size: 400%
}

/* MOBILE */
@media only screen and (max-width: 600px) {
	div.iconbuttoncontainer {
		grid-template-columns: 1fr;
	}
}

