/*
 * styles.css
 * Copyright (C) 2020 Vintage Salt
 *
 * Distributed under terms of the MIT license.
 */

/* GLOBALS */

:root {
	--background-bright: #323232;
	--background: #2a2a2a;
	--line: rgba(0,0,0,0.1);
	--greenlink: #47b625;
	--greenlink-hover: #82e24f;
	--warning: #f7cf04;
	--error: #d95757;
	--link: #5da9fb;
	--link-hover: #81ccfb;
	--shadow: 8px -5px rgba(0,0,0,0.1);
	--text: #d9d9d9;
	--text-code: #d48163;
}
html {
	overflow-y: scroll;
	background: var(--background);
}
body {
	background: var(--background);
	color: var(--text);
	font-family: "Roboto", sans-serif;
	margin: 0;
}

/* TYPES */
/* a */
a {
	color: var(--link);
	text-decoration: none;
	transition: .04s ease-in;
}
a:hover {
	color: var(--link-hover);
}
code {
	color: var(--text-code);
	display: inline-block;
	font-size: 12pt;
	padding: 2px 4px;
}
dl {
	list-style-type: none;
	margin: 0;
}
dl dt {
	font-weight: bold;
	margin: 1em 0 0 0;
}
dl dd {
	margin: 0;
}
ol,ul {
	margin: 1em 2em;
}
ol li,ul li {
	padding: 0.25em 0.5em;
}

/* CUSTOM DIVS AND SPANS */
a.quickbutton {
	background: var(--link);
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	color: var(--background);
	display: block;
	font-size: 150%;
	margin: 0.5em 0;
	padding: 1em;
	text-align: center;
}
a.quickbutton:hover {
	background: var(--link-hover);
	color: var(--background);
}
div.break {
	width: 4em;
	margin: 2em auto;
	border-bottom: 3px double var(--line);
}
div.quote {
	border-left: 4px solid var(--line);
	margin: 1em 4em;
	padding: 1em;
}
div.warning,div.error {
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	padding: 1em;
	border: 2px solid var(--text);
	margin: 1em;
}
div.warning {
	border-color: var(--warning);
}
div.warning i {
	color: var(--warning);
}
div.error {
	border-color: var(--error);
}
div.error i {
	color: var(--error);
}
i.badge {
	font-size: 200%;
	float: right;
}
img.bigimg {
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	display: block;
	margin: 1em auto;
}

/* HIERARCHICAL CLASSES */
/* HEADER */
.header {
	background: var(--background-bright);
	box-shadow: 0 5px var(--shadow);
}
.logocontainer {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 1em 0;
}
.logo {
	border-radius: 50%;
	height: 64px;
	vertical-align: middle;
	margin: 0 1em;
	max-width: 64px;
}
.header h1 {
	display: inline;
	margin: 0;
}
.header p {
	margin: 0;
}
.header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.header nav ul li {
	display: inline-block;
	padding: 1em;
}
.header nav ul li:hover {
	background: var(--link-hover);
	color: var(--background);
	transition: .04s ease-in;
}

/* CONTENT */
.content {
	max-width: 48em;
	margin: 2em auto;
	padding: 1em;
}
.subcontainer {
	background: var(--background-bright);
	border-radius: 8px;
	box-shadow: 5px 5px var(--shadow);
	margin: 1em 0;
	padding: 2em;
}
.subcontainer h2 {
	margin: 0;
}
.toc {
	background: var(--background-bright);
	border-radius: 4px;
	box-shadow: 5px 5px var(--shadow);
	display: inline-block;
	margin: 0 1em 1em 1em;
	padding: 0 1em;
	width: auto;
}

/* FOOTER */
.footer {
	font-size: 11px;
	line-height: 1.3;
	margin: 0 0 4em 0;
	text-align: center;
}
.footer p {
	margin: 0;
	opacity: 0.8;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
	.nomobile {
		display: none;
	}
}
